.home-page {
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  img {
    margin-bottom: 20px;
  }

  .home-page {
    padding-top: 170px;
  }
}

@media screen and (min-width: 1024px) {
  .content-img,
  .content {
    display: block;
    width: 950px;
    margin: auto;
    margin-bottom: 20px;
  }

  .home-page {
    padding-top: 120px;
  }
}
